
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  .ant-breadcrumb-separator {
    margin: 0 8px;
    color: #94a5e3;
  }
  .ant-table{
    background: transparent;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td{
    background-color: #7289da;
  }
  .ant-tooltip-inner{
    background-color: #3e4662;
    color: #aaaaaa;
    max-width: 400px;
  }
  .ant-tooltip-placement-top .ant-tooltip-arrow, .ant-tooltip-placement-topLeft .ant-tooltip-arrow, .ant-tooltip-placement-topRight .ant-tooltip-arrow{
    border-top-color: #3e4662;
  }
  .ant-tooltip-placement-bottom .ant-tooltip-arrow, .ant-tooltip-placement-bottomLeft .ant-tooltip-arrow, .ant-tooltip-placement-bottomRight .ant-tooltip-arrow{
    border-bottom-color: #3e4662;
  }
  .ant-tooltip-placement-left .ant-tooltip-arrow, .ant-tooltip-placement-leftTop .ant-tooltip-arrow, .ant-tooltip-placement-leftBottom .ant-tooltip-arrow{
    border-left-color: #3e4662;
  }
  .ant-tooltip-placement-right .ant-tooltip-arrow, .ant-tooltip-placement-rightTop .ant-tooltip-arrow, .ant-tooltip-placement-rightBottom .ant-tooltip-arrow{
    border-right-color: #3e4662;
  }
  //---common---
  .layout {
    background: #292C34;
    min-width: 960px;
    height: 100%;
    //background: url("./components/Right/images/pig.png") no-repeat;
  }

  .layout-footer {
    text-align: center;
    padding: 0;
    min-height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 960px;
    background: #343842;
    color: #aaa;
    line-height: 30px;
    font-size:12px;
  }

  .layout-header {
    position: fixed;
    padding-right: 30px;
    //padding-reft: 30px;//无效的语句，注释掉了
    width: 100%;
    min-width: 960px;
    height: 50px;
    background: #343842;
    line-height: 50px;
    //box-shadow: 0 3px 20px #0b0b0b;
    .ant-breadcrumb{
      line-height: 50px;
    }
  }

  .layout-content {
    margin: 70px 20px 50px;
    padding: 24px;
    background: #292C34;
    min-height: 200px;
  }

  .layout-header-second {
    position: fixed;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 50px;
    width: 100%;
    height: 50px;
    //background: #3E434E;//这个样式会影响log页面
    line-height: 50px
  }

  .ant-input {

    color: #ccc;
    font-size: 14px;
    background-color: #3e434e;
    border-width: 0;
    &::placeholder {
      color: #555;
    }

  }
}

#root {
  display: flex;
  height: 100%;
}

.list-publish .operations a {
  margin-right: 10px;
}

.list-publish .operations div {
  margin-right: 10px;
}


